<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/uploads/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">Footballkik</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" id="reload">
       <li><a href="/latest-football-news">Football News</a></li>
        <li><a href="#">Members</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= user.username %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/settings/profile"><span class="fa fa-user"> Profile</span></a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout"><span class="fa fa-sign-out"></span> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="col-md-12">
   <form action="#" method="post">
       <div class="form-group ad-30" style="margin-top:8px;">
            <div class="input-group search-style">
                <input class="form-control new-search-bar"  name="country" id="search" placeholder="Enter Your Club Name" type="text">
                <span class="input-group-btn">
                    <button class="btn input-btn" type="" id="search-form">Search</button>
                </span>
            </div>
        </div>
   </form>
</div>
  
<div class="col-md-12">
   <input type="hidden" id="name-user" value="<%= user.username %>">
   <input type="hidden" id="name-image" value="<%= user.userImage %>">
    <div class="">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="filter-container">
                            <div class="card">
                                <form action="/results" method="post">
                                    <div class="content">
                                        <p class="filter">
                                            FILTER
                                        </p>
                                        <hr/>
                                        <select class="form-control" name="country" id="country" >
                                            <option value="">Filter By Country</option>
                                            
                                        </select>
                                        <div class="clearfix"></div>
                                        <button class="btn add-apply">Apply</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-9">
                <div>
                   <% _.forEach(chunks, function(val) { %>
                    <div class="category-list">
                        <div class="row">
                           <% _.forEach(val, function(val2) { %>
                            <form action="/home" method="post" id="favorite">
                                <div class="item col-md-4">
                                   <a style="text-decoration:none" href="/group/<%= val2.name %>">
                                    <div class="thumbnail">
                                       <img src="https://footballkik.s3.amazonaws.com/<%= val2.image %>" alt="">
                                        <div class="caption">
                                            <h4>
                                                <%= val2.name %> (<%= val2.fans.length %>)
                                            </h4>
                                            
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <p>
                                                        <%= val2.country %>
                                                    </p>
                                                </div>
                                                
                                                <div class="col-xs-12 col-md-6">
                                                    <input type="hidden" name="id" id="id" value="<%= val2._id %>">
                                                    <input type="hidden" name="clubName" id="club_Name" value="<%= val2.name %>">
                                                    <button class="btn add-fav">
                                                        Add To Favorite
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                            </form>
                            <% }) %>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>

  
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
<script src="/socket.io/socket.io.js"></script>
<script src="/js/group/sendrequest.js"></script> 
<script src="/js/home.js"></script>
<script src="/js/global.js"></script>
</body>
</html>
















